.table {
    display: grid;
    grid-template-areas:
    'top top top'
    'left center right'
    'bottom bottom bottom';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
}

.seat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    background-color: lightgray;
}

.top {
    grid-area: top;
    flex-direction: row;
}

.bottom {
    grid-area: bottom;
    flex-direction: row-reverse;
}

.left {
    grid-area: left;
    flex-direction: column;
}

.right {
    grid-area: right;
    flex-direction: column-reverse;
}

.center {
    grid-area: center;
}
